In [11]:
    X = 22
print(X)

22

In [13]:
type(X)

int

In [15]:
y= 'Mint Chocolate Chip'
print(y)

Mint Chocolate Chip

In [17]:
type(y)

str

In [23]:
y = 'Chocolate'
y= 'Mint Chocolate Chip'
print(y)

Mint Chocolate Chip

In [31]:
x,y,z = 'Chocolate', 'Vanilla', 'Strawberry'
print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [33]:
x = y = z = 'Banana'
print(x)
print(y)
print(z)

Banana
Banana
Banana

In [35]:
cream = ['Chocolate', 'Vanilla', 'Strawberry']
x,y,z = cream
print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [ ]:
# Camel Case
#Test Variable Case
testVariableCase = 'Vanilla Swirl'

In [ ]:
# Pascal Case
#Test Variable Case
TestvariableCase = 'Vanilla Swirl'

In [ ]:
# Snake Case
#Test Variable Case
test_variable_Case = 'Vanilla Swirl'

In [37]:
x = 'Ice Cream is my favorite' + '.'
print(x)

Ice Cream is my favorite.

In [39]:
y = 3 + 2
print(y)

5

In [43]:
x = 'Ice Cream'
y= ' is'
z= ' my favorite'
print(x+y+z)

Ice Cream is my favorite

In [47]:
# Data Types

type(12)

In [54]:
type(12)

int

In [56]:
#Boolean
type(1>2)

bool

In [3]:
4 > 5

False

In [5]:
# Working Pandas

In [7]:
import pandas as pd

In [ ]:
pd.read_csv(r"")

In [21]:
df=pd.read_excel(r"C:\Users\Ahmad Ilu\Downloads\food_Prices.xlsx", sheet_name="Sheet2")

In [23]:
df

                                              Item    Price
0                           Frozen chicken, 1 unit  4829.13
1                             Beef, boneless, 1kgS  4711.65
2                        Rice, medium grained, 1kg  1535.83
3                     Rice, agric, sold loose,1 kg  1487.91
4                                Irish potato, 1kg  1413.57
5                     Rice, local, sold loose, 1kg  1399.34
6                     Beans brown, sold loose, 1kg  1387.90
7          Beans, white black eye, sold loose, 1kg  1313.48
8                                Bread sliced 500g  1141.36
9                                   Yam tuber, 1kg  1130.37
10                                      Tomato 1kg  1123.41
11                             Bread unsliced 500g  1092.40
12                                 Onion bulb, 1kg  1018.83
13                            Plantain (ripe), 1kg  1009.05
14                          Plantain (unripe), 1kg  1000.41
15                    Gari yellow, sold loose, 1kg   909.77
16                     Gari white, sold loose, 1kg   851.81
17                               Sweet potato, 1kg   807.35
18              Maize grain yellow sold loose, 1kg   798.53
19               Maize grain white sold loose, 1kg   797.61
20             Evaporated tinned milk (peak), 170g   725.74
21           Evaporated tinned milk carnation 170g   643.11
22  Agric eggs (medium size price of one), 1 piece   150.85
23                     Groundnut oil, 1 bottle, 1l  2231.82

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    24 non-null     object
 1   Price   24 non-null     float64
dtypes: float64(1), object(1)
memory usage: 516.0+ bytes

In [27]:
df.shape

(24, 2)

In [29]:
df.loc[22]

Item     Agric eggs (medium size price of one), 1 piece
Price                                            150.85
Name: 22, dtype: object

In [31]:
#Filtering and Ordering

In [45]:
df[df['Price']<1000]

                                              Item   Price
15                    Gari yellow, sold loose, 1kg  909.77
16                     Gari white, sold loose, 1kg  851.81
17                               Sweet potato, 1kg  807.35
18              Maize grain yellow sold loose, 1kg  798.53
19               Maize grain white sold loose, 1kg  797.61
20             Evaporated tinned milk (peak), 170g  725.74
21           Evaporated tinned milk carnation 170g  643.11
22  Agric eggs (medium size price of one), 1 piece  150.85

In [49]:
df['Price']

0     4829.13
1     4711.65
2     1535.83
3     1487.91
4     1413.57
5     1399.34
6     1387.90
7     1313.48
8     1141.36
9     1130.37
10    1123.41
11    1092.40
12    1018.83
13    1009.05
14    1000.41
15     909.77
16     851.81
17     807.35
18     798.53
19     797.61
20     725.74
21     643.11
22     150.85
23    2231.82
Name: Price, dtype: float64

In [57]:
specific_commodities = ['Plantain (ripe), 1kg','Sweet potato, 1kg', 'Rice, local, sold loose, 1kg']
df[df['Item'].isin(specific_commodities)]

                            Item    Price
5   Rice, local, sold loose, 1kg  1399.34
13          Plantain (ripe), 1kg  1009.05
17             Sweet potato, 1kg   807.35

In [65]:
df[df['Item'].str.contains('Rice')]

                           Item    Price
2     Rice, medium grained, 1kg  1535.83
3  Rice, agric, sold loose,1 kg  1487.91
5  Rice, local, sold loose, 1kg  1399.34

In [69]:
df2 = df.set_index('Item')
df2

                                                  Price
Item
Frozen chicken, 1 unit                          4829.13
Beef, boneless, 1kgS                            4711.65
Rice, medium grained, 1kg                       1535.83
Rice, agric, sold loose,1 kg                    1487.91
Irish potato, 1kg                               1413.57
Rice, local, sold loose, 1kg                    1399.34
Beans brown, sold loose, 1kg                    1387.90
Beans, white black eye, sold loose, 1kg         1313.48
Bread sliced 500g                               1141.36
Yam tuber, 1kg                                  1130.37
Tomato 1kg                                      1123.41
Bread unsliced 500g                             1092.40
Onion bulb, 1kg                                 1018.83
Plantain (ripe), 1kg                            1009.05
Plantain (unripe), 1kg                          1000.41
Gari yellow, sold loose, 1kg                     909.77
Gari white, sold loose, 1kg                      851.81
Sweet potato, 1kg                                807.35
Maize grain yellow sold loose, 1kg               798.53
Maize grain white sold loose, 1kg                797.61
Evaporated tinned milk (peak), 170g              725.74
Evaporated tinned milk carnation 170g            643.11
Agric eggs (medium size price of one), 1 piece   150.85
Groundnut oil, 1 bottle, 1l                     2231.82

In [71]:
df2.filter(items=['Item'])

Empty DataFrame
Columns: []
Index: [Frozen chicken, 1 unit, Beef, boneless, 1kgS, Rice, medium grained, 1kg, Rice, agric, sold loose,1 kg, Irish potato, 1kg, Rice, local, sold loose, 1kg, Beans brown, sold loose, 1kg, Beans, white black eye, sold loose, 1kg, Bread sliced 500g, Yam tuber, 1kg, Tomato 1kg, Bread unsliced 500g, Onion bulb, 1kg, Plantain (ripe), 1kg, Plantain (unripe), 1kg, Gari yellow, sold loose, 1kg, Gari white, sold loose, 1kg, Sweet potato, 1kg, Maize grain yellow sold loose, 1kg, Maize grain white sold loose, 1kg, Evaporated tinned milk (peak), 170g, Evaporated tinned milk carnation 170g, Agric eggs (medium size price of one), 1 piece, Groundnut oil, 1 bottle, 1l]

In [73]:
df2.filter(items=['Item'],axis=1)

Empty DataFrame
Columns: []
Index: [Frozen chicken, 1 unit, Beef, boneless, 1kgS, Rice, medium grained, 1kg, Rice, agric, sold loose,1 kg, Irish potato, 1kg, Rice, local, sold loose, 1kg, Beans brown, sold loose, 1kg, Beans, white black eye, sold loose, 1kg, Bread sliced 500g, Yam tuber, 1kg, Tomato 1kg, Bread unsliced 500g, Onion bulb, 1kg, Plantain (ripe), 1kg, Plantain (unripe), 1kg, Gari yellow, sold loose, 1kg, Gari white, sold loose, 1kg, Sweet potato, 1kg, Maize grain yellow sold loose, 1kg, Maize grain white sold loose, 1kg, Evaporated tinned milk (peak), 170g, Evaporated tinned milk carnation 170g, Agric eggs (medium size price of one), 1 piece, Groundnut oil, 1 bottle, 1l]

In [75]:
df2.filter(items=['Item'],axis=0)

Empty DataFrame
Columns: [Price]
Index: []

In [79]:
df2.filter(items=['Maize grain white sold loose, 1kg'],axis=0)

                                    Price
Maize grain white sold loose, 1kg  797.61

In [81]:
df2.filter(like ='Rice',axis = 0)

                                Price
Item
Rice, medium grained, 1kg     1535.83
Rice, agric, sold loose,1 kg  1487.91
Rice, local, sold loose, 1kg  1399.34

In [83]:
df

                                              Item    Price
0                           Frozen chicken, 1 unit  4829.13
1                             Beef, boneless, 1kgS  4711.65
2                        Rice, medium grained, 1kg  1535.83
3                     Rice, agric, sold loose,1 kg  1487.91
4                                Irish potato, 1kg  1413.57
5                     Rice, local, sold loose, 1kg  1399.34
6                     Beans brown, sold loose, 1kg  1387.90
7          Beans, white black eye, sold loose, 1kg  1313.48
8                                Bread sliced 500g  1141.36
9                                   Yam tuber, 1kg  1130.37
10                                      Tomato 1kg  1123.41
11                             Bread unsliced 500g  1092.40
12                                 Onion bulb, 1kg  1018.83
13                            Plantain (ripe), 1kg  1009.05
14                          Plantain (unripe), 1kg  1000.41
15                    Gari yellow, sold loose, 1kg   909.77
16                     Gari white, sold loose, 1kg   851.81
17                               Sweet potato, 1kg   807.35
18              Maize grain yellow sold loose, 1kg   798.53
19               Maize grain white sold loose, 1kg   797.61
20             Evaporated tinned milk (peak), 170g   725.74
21           Evaporated tinned milk carnation 170g   643.11
22  Agric eggs (medium size price of one), 1 piece   150.85
23                     Groundnut oil, 1 bottle, 1l  2231.82